[user]
	email = alex@strugee.net
	name = Alex Jordan
	signingkey = 26794034633DBBC0
[push]
	default = simple
[color]
	ui = auto
[branch]
	autosetuprebase = always
[alias]
	hate = blame
[github]
	user = strugee
[core]
	editor = emacsclient -nw
[help]
	autoCorrect = -1
