[user]
	email = alex@strugee.net
	name = AJ Jordan
	signingkey = 26794034633DBBC0
[push]
	default = simple
[color]
	ui = auto
[branch]
	autosetuprebase = always
[alias]
	hate = blame
	up = !git checkout master && git pull && git checkout - && git rebase master
[github]
	user = strugee
[core]
	editor = emacsclient -nw --alternate-editor nano
[help]
	autoCorrect = -1
[commit]
	gpgSign = true
[gpg]
	program = qubes-gpg
