# ignore everything
*

# ...except the configs we're interested in
!.bash_aliases
!.bash_profile
!.bash_logout
!.bashrc
!.profile
!.zshrc
!.zshrc.pre-oh-my-zsh
!.oh-my-zsh
!.zsh-update
!.selected_editor
!.Xdefaults
!.aptitude
!.byobu
!.screenrc
!.config
!COPYING
!.emacs
!.gnupg/gpg.conf

# my bin/ directory is kinda interesting. why not.
!bin/

# important
!.gitignore